<table id="data-table" class="table table-striped">
    <thead>
        <tr>
              <th>Book Name</th>
            <th>Author Name</th>
            <th>Medium</th>
            <th>Published Year</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of BookList">
            <td>{{ book.bookName }}</td>
            <td>{{ book.bookAuthorName }}</td>
            <td>{{ book.bookMedium }}</td>
            <td>{{ book.bookPublishedYear }}</td>
            <td class="action-buttons">
                <button class="btn btn-primary btn-sm">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="deleteBook(book.bookID)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
